parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast Symfony\\\\Component\\\\Console\\\\Input\\\\InputInterface\\|null to string\\.$#"
			count: 1
			path: src/Debug/Collectors/ArtisanCollector.php

		-
			message: "#^Binary operation \"\\-\" between float and non\\-empty\\-array\\|non\\-empty\\-string results in an error\\.$#"
			count: 1
			path: src/Debug/Collectors/TimeCollector.php

		-
			message: "#^Call to an undefined method Soyhuce\\\\DevTools\\\\Debug\\\\Collectors\\\\DataCollector\\:\\:addMessage\\(\\)\\.$#"
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: "#^Call to an undefined method Soyhuce\\\\DevTools\\\\Debug\\\\Collectors\\\\DataCollector\\:\\:increment\\(\\)\\.$#"
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: "#^Call to an undefined method Soyhuce\\\\DevTools\\\\Debug\\\\Collectors\\\\DataCollector\\:\\:setRequest\\(\\)\\.$#"
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: "#^Call to an undefined method Soyhuce\\\\DevTools\\\\Debug\\\\Collectors\\\\DataCollector\\:\\:setResponse\\(\\)\\.$#"
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: "#^Call to an undefined method Soyhuce\\\\DevTools\\\\Debug\\\\Collectors\\\\DataCollector\\:\\:startMeasure\\(\\)\\.$#"
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: "#^Call to an undefined method Soyhuce\\\\DevTools\\\\Debug\\\\Collectors\\\\DataCollector\\:\\:stopMeasure\\(\\)\\.$#"
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: "#^Unsafe access to private property Soyhuce\\\\DevTools\\\\Debug\\\\DebugManager\\:\\:\\$availableCollectors through static\\:\\:\\.$#"
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: "#^Unsafe call to private method Soyhuce\\\\DevTools\\\\Faker\\\\Image\\:\\:generateRandomColor\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/Faker/Image.php

		-
			message: "#^Method Soyhuce\\\\DevTools\\\\Tools\\\\Stats\\:\\:max\\(\\) should return float\\|int but returns float\\|int\\|false\\.$#"
			count: 1
			path: src/Tools/Stats.php

		-
			message: "#^Method Soyhuce\\\\DevTools\\\\Tools\\\\Stats\\:\\:min\\(\\) should return float\\|int but returns float\\|int\\|false\\.$#"
			count: 1
			path: src/Tools/Stats.php

		-
			message: "#^Property Soyhuce\\\\DevTools\\\\Tools\\\\Stats\\:\\:\\$cache \\(array\\<float\\|int\\>\\) does not accept array\\<bool\\|float\\|int\\>\\.$#"
			count: 2
			path: src/Tools/Stats.php

