parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\-" between float and non\-empty\-array\|non\-falsy\-string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Debug/Collectors/TimeCollector.php

		-
			message: '#^Call to an undefined method Soyhuce\\DevTools\\Debug\\Collectors\\DataCollector\:\:addMessage\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Call to an undefined method Soyhuce\\DevTools\\Debug\\Collectors\\DataCollector\:\:increment\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Call to an undefined method Soyhuce\\DevTools\\Debug\\Collectors\\DataCollector\:\:setRequest\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Call to an undefined method Soyhuce\\DevTools\\Debug\\Collectors\\DataCollector\:\:setResponse\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Call to an undefined method Soyhuce\\DevTools\\Debug\\Collectors\\DataCollector\:\:startMeasure\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Call to an undefined method Soyhuce\\DevTools\\Debug\\Collectors\\DataCollector\:\:stopMeasure\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Method Soyhuce\\DevTools\\Debug\\DebugManager\:\:warnings\(\) should return Illuminate\\Support\\Collection\<int, string\> but returns Illuminate\\Support\\Collection\<\(int\|string\), non\-falsy\-string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Parameter \#1 \$value of method Illuminate\\Support\\Collection\<\(int\|string\),string\>\:\:prepend\(\) expects non\-falsy\-string, literal\-string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Parameter \#1 \.\.\.\$values of method Illuminate\\Support\\Collection\<\(int\|string\),string\>\:\:push\(\) expects non\-falsy\-string, literal\-string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Unsafe access to private property Soyhuce\\DevTools\\Debug\\DebugManager\:\:\$availableCollectors through static\:\:\.$#'
			identifier: staticClassAccess.privateProperty
			count: 1
			path: src/Debug/DebugManager.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function max expects non\-empty\-array, array\<float\|int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Tools/Stats.php

		-
			message: '#^Parameter \#1 \.\.\.\$arg1 of function min expects non\-empty\-array, array\<float\|int\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Tools/Stats.php

